<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<div>
			<h2>Add Customer</h2> 	
	</div>

	<a href="/home">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		Username: <input type="text" name="username" ><br>
		Password: <input type="text" name="password" ><br>
		Type: <input type="text" name="type"><br>
	    <input type="submit" name="" value="Insert"><br>
	</form>
</body>
</html>