<!DOCTYPE html>
<html>
<head>
	<title>Search Message & Feedback</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>
	<div>
		<h1>Search Message & Feedback</h1> 		
	</div>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
	<a href="/home/allcustomer"> Back</a> |
	<a href="/logout"> logout</a><br><br>
	<form method="post">
		From: <input type="text" name="from" >
		To: <input type="text"  name="to" >
	    <input type="submit" name="submit" value="search">
	</form><br>
</body>
</html>