<!DOCTYPE html>
<html>
<head>
	<title>Property History</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>
	<div>
		<h1>Welcome To The History Page of Property : </h1> 		
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="/home/allproperty"> Back</a> |
	<a href="/logout"> logout</a><br>
    Search Property By Status:<br>
    1.All Active Property<br>
    2.All Sold Property<br>
    3.All Pending Property<br><br>
    <form method="post">
		status: <input type="text" name="uname" >
	    <input type="submit" name="submit" value="search">
	</form>
    <br>
    <a href="/home/mostVisitedproperty">Most Visited Property</a> |
	<a href="/home/topRankproperty">Property In Top Rank</a> |
	<a href="/home/featuredPost">Featured Post</a> 
</body>
</html>